/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    color: #ffffff;
    background: #2b2b2b;
    font-family: 'Signika', sans-serif;
}

#homepage {
    width: 100vw;
    padding: 2rem;
}

#homepage-title {
    font-size: 5rem;
    margin: 1rem;
    text-align: center;
}

#homepage-subheading {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
}
